<div class="panel">
<strong>a. What is the name of that animal<br></strong>
<i>Let's jump in with both feet and create a space. Spaces are where you create pages, blogs, and generally collaborate with your team.

In this example you will create a space for a team working together on a project. It'll be used for gathering requirements, recording meeting notes, making decisions and sharing files.</i>
</div>

<button class="btn btn-primary" (click)="Previous()" type="button" style="float: left;">Prev</button>
<button class="btn btn-primary" (click)="Next()" type="button" style="float: right">Next</button>